 body{background-image: url("800px-Graduated_Blue_Background.png");
background-size: fullsize;
  background-attachment: fixed;
  background-repeat:repeat;
  background-color:;
  
  
}



h1{font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif}


.a{background:white;
margin-top:0px;
}





j


.d{display: inline;}

.e{border-style:solid;}

.g{border-style:solid;
  background-color: black;
  color: white;
  margin: 0;
}

.p{border-style:solid;}

